<div class="container">
  <div>
    <form #prefForm="ngForm" (ngSubmit)="setPreferences(prefForm.value)">

      <label>Your name:</label><br>
      <input type="text" name="name" ngModel><br>

      <label>Address:</label><br>
      <input type="text" name="address" ngModel><br>

      <label>Phone number:</label><br>
      <input type="text" name="number" ngModel><br>

      <label>Enter bus stop number or name</label><br>
      <input type="text" name="stop" ngModel><br>

      <button type="submit">Set stop</button>

    </form><br>
  </div>
  <div>
    <iframe width="600" height="450" frameborder="0" style="border:0" [src]="url | karttapiippu"></iframe>
  </div>
</div>
